<h1><mark> "Sorry, the information you have entered is invalid, please try again or if your a new user use this link to get started!" </mark></h1>

<style>
mark {
  background-color: red;
  color: black;
}
</style>
