<form method="POST" action="/login">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
<br>
  <label for="password">Password:</label>
  <input type="text" name="password" id="password">
<br>
  <input type="submit" id="submit" value="login">
</form>

<% if flash.has?(:message) %>
  <%= erb :'flash_messages/invalid_login' %>
<% end %>
