<h1> This is the member Homepage Where we can view <h1>
<h1> every users review, title only with rating, price and product being discussed </h1>

<p> This page should also include a button to send people to their profiles, a logout button and a create new review button </p>


<form method="get" action="/profile/:slug">
  <input type="submit" id="submit" value="profile">
</form>
