<!DOCTYPEhtml>
<html>
<title>Homepage</title>
  <head>
    <p> this should be centered </p>
    <h1> Welcome, this is the homepage </h1>
    <p> This is where the date will go </p>
    <form method="POST" action="/login">
      <input type="submit" id="submit" value="login">
    </form>
  </head>

<body>
  <p>This should be centered on the screen in a box</p>
  <form method="POST" action="/signup">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  <br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  <br>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  <br>
    <input type="submit" id="submit" value="signup">
  </form>
</body>

<font color="red">
  <% if flash.has?(:signup_error) %>
    <%= flash[:signup_error] %>
  <% end %>
</font>


<h2>Description of website...</h2>
