<!DOCTYPEhtml>
<html>
<title>Homepage</title>
  <head>
    <h1> Welcome, this is the homepage </h1>
    <p> This is where the date will go </p>
  </head>

<body>
  <p>This should be centered on the screen in a box</p>
  <h3> This is where we will include: </h3>
  <br></br>
    <p>Sign in </p>
    <p>Sign up </p>
  <br></br>
  <h2>Description of website...</h2>
</body>
